* {
    overflow-y: hidden;
    margin: 0;
    box-sizing: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    padding: 40px 30px;
    border-radius: 10px;
    background-color: rgba(34, 34, 34, 0.212);
    border: none;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

.quiz-container {
    background: linear-gradient(30deg, #f1f7ecc5, rgba(128, 0, 0, 0.616) );
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 20%);
    padding: 5px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.highscores {
    color: purple;
}

#highscores-title {
    text-align: center;
    padding-bottom: 50px;
}

.top {
    overflow-y: visible;
    font-size: 20px;
}

.top p {
    float: right;
}

h1 h2 {
    text-align: center;
}

.middle {
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    text-align: center;
    color: white;
    font-size: 30px;
}

.header p {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
}

.start-btn {
    text-align: center;
}

.next-btn {
    text-align: right;
}

button {
    color: whitesmoke;
    font-weight: bold;
    border: solid whitesmoke;
    background: rgba(128, 0, 0, 0.61);
    padding: 10px 20px;
    font-size: 20px;
}
.highscores-btn {
    
}

button:hover {
    background-color: blueviolet;
    color: white;
}

#finish {
    text-align: center;
}

.end p {
    text-align: center;
}

.Name {
    text-align: center;
}

label {
    color: #818181;
    font-size: 1.3em;
    text-align: right;
    font-weight: 900;
}

#clear-scores-btn {
    margin-top: 100px;
}

#back-to-quiz {
    float: right;
    margin-top: 100px;
}

.submit-btn {
    float: right;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat (2, auto);
    gap: 10px;
    margin: 20px 0;
}

.hide {
    display: none;
}

.quiz-container.correct {
    --hue: var(--hue-correct);
}

.quiz-container.wrong {
    --hue: var(--hue-wrong);
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.btn.correct {
    --hue: var(--hue-correct);
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.question-screen {
    padding: 50px;
}

.question {
    color: white;
    text-align: center;
    font-size: 30px;
}

h2 {
    font-size: 25px;
    color: whitesmoke;
}

#score {
    color: whitesmoke;
    font-size: 15px;
    padding-bottom: 100px;
}

#finish {
    padding-bottom: 25px;
}

.Name {
    color: whitesmoke;
}

label {
    font-size: 25px;
}

#timer {
    font-family: fantasy;
    color: whitesmoke;
    font-size: 30px;
    padding-right: 30px;
}

#scores {
    color: aquamarine;
    text-align: center;
    font-size: 25px;
}

li {
    width: fit-content;
    margin: auto;
}

li::marker {
    margin-left: 500px;
}